[submodule "Analyzer"]
	path = Analyzer
	url = https://github.com/harlo/Unveillance
[submodule "Dashboard"]
	path = Dashboard
	url = https://github.com/harlo/UnveillanceViewer
[submodule "Repository"]
	path = Repository
	url = https://github.com/globaleaks/GLBackend.git
